[
        { rabbit, [
                { loopback_users, [ ] },
                { vm_memory_high_watermark, { absolute, 209715200 } },
                { tcp_listeners, [ 5672 ] },
                { ssl_listeners, [ ] },
                { default_pass, <<"123456">> },
                { default_user, <<"root">> },
                { hipe_compile, false }
        ] },
        { rabbitmq_management, [ { listener, [
                { port, 15672 },
                { ssl, false }
        ] } ] }
].
